# Ignore service directories that are not part of the main application
mcp-mattermost
webui-dev
webui-marketplace

# Ignore common files and directories
.git
.gitignore
.dockerignore
node_modules
**/node_modules
.vscode
.idea
*.log
